@import "~antd/lib/style/themes/default.less";
@primary-color: #f97114;
@header: #2e2e2e;

@scrollbar-thumb: #3a3a3a; // 下拉,日期（hover）颜色
@scrollbar-track: #222222;

@body-background: #2e2e2e;
@layout-body-background: #2e2e2e;
@component-background: #373939;
// @card-background: #2e2e2e;
//布局背景
@layout-sider-background: #2e2e2e;
@layout-header-background: #2e2e2e;
// text
@text-color: #ffffff;
@text-color-secondary: #fff;
@label-color: #fff;
//@icon-color: #efefef;
@heading-color: #ffffff;

// input select checkbox
@input-bg: #373939;
@item-active-bg: #543a25;
@item-hover-bg: #543a25;
//@select-dropdown-bg:#585858;

@select-item-selected-bg: #543a25;
@select-item-active-bg: #543a25;
//@disabled-bg: #373939;

@checkbox-check-color: #585858;

// table
@table-header-color: #efefef;
@table-header-bg: #3f4143;
@table-selected-row-bg: #543a25;
@table-row-hover-bg: #543a25;
@tabs-active-color: #373939;
@tabs-card-head-background: #373939;
@table-expanded-row-bg: #2e2e2e;
// @modal-hea/ding-color: #fff;
@disabled-color: #a4a4a4;
@disabled-bg: #474747;
@collapse-header-bg: #373939;
@collapse-content-bg: #585858;

@third-bg: #363738;

// inpur disabled
@input-color-disabled: #474747;

//提单上传按钮
@upData: #f97114;
//
@third-color-bg: #ffffff;
@third-color-a: #f97114;
@forth-color-btm: #ffffff;
@nav-btm: #f97114;
@need-bg: #2E2E2E;
@third-bg-second: #363738;
@border-btm: #f97114;


@home-bg: #3a3a3a;


@systemTree-bg: #f97114;
//h3,h4标签颜色
@h-color: #ffffff;

@circle: #3e3e3e;
//定时任务区分类背景
@timeTask-bg: #2e2e2e;

@recommend-bg: #585858;

//  自定义布局背景
@layouts-bg: #2a2a2a;
//平台助手背景
@robot-bg: #464646;
//输入框颜色
@input-borderColor: #424446;
//勾选框颜色
@check-disabled: #d7d7d7;
//shineout选择框背景
@shineOut-select: #615f5f;

//暴露变量
:root {
    --header: @header;
    --primary: @primary-color;
    --thirdBackground: @third-bg;
    --thirdBackgrounds: @third-bg-second;
    // --cardBackground:@card-background;
    --upData: @upData;
    --third: @third-color-bg;
    --third-hover: @third-color-a;
    --forth-hover: @forth-color-btm;
    --nav-color: @nav-btm;
    --need-bg: @need-bg;
    --border-btm: @border-btm;
    --home-bg: @home-bg;
    --text-color: @text-color; //字体颜色
    --layout-background: @body-background;
    --systemTree: @systemTree-bg;
    --hColor: @h-color;
    --circle: @circle;
    --timeTask-bg: @timeTask-bg;
    --recommend-bg: @recommend-bg;
    --layouts-bg: @layouts-bg;
    --robot-bg: @robot-bg;

    --calendar: @checkbox-check-color;
    --input-text-color: @text-color;
    --gray-100: @shineOut-select;
}